<%- include ('partials/header.ejs'); %> 
<br>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to the Hairam's Official Website</h1>
      <p class="lead my-3">Hairam's Official Website for gamming purpose,we provide you world's most loved games.</p>
        <p class="lead mb-0"><a href="/gamesList" class="text-white font-weight-bold">Get Ready!</a></p>
    </div>
  </div>
<%- include ('partials/footer.ejs'); %>